body {
    font-family: 'Poppins', sans-serif;
}

.nav-item {
    margin-right: 25px;
    font-size: 14px;
    font-weight: 500;
}

.nav-link {
    color: #242f51 !important;
}

.nav-link:hover {
    text-decoration: underline;
}

.botao-azul {
    border: none;
    background-color: #2500f9;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 25px;
    
}

#try-for-free {
    margin-left: 40px;
}   

.botao-azul:hover {
    background-color: #fff;
    color: #2500f9;
    border: 1px solid #2500f9;
}

.primeiro_bloco_esquerda {
    margin-top: 130px;
    padding-left: 80px;
}

.primeiro_bloco_direita img {
    height: 500px;
    width: 300px;
}

.primeiro_bloco img {
    height: 20px;
    margin-bottom: 15px;
}

#primeiro_bloco h1 {
    color: #242f51;
    font-weight: bold;
    margin-bottom: 15px;
}
#primeiro_bloco h5 {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 30px;
}

#primeiro_bloco p {
    color: #616368;
    font-size: 12px;
    margin-bottom: 25px;
}

.botao-muted {
    background-color: transparent;
    border: 0;
    font-weight: 500;
    font-size: 14px;
    color: #2500f9;
}

.botao-muted:hover {
    text-decoration: underline;
}

#primeiro_bloco {
    background-image: url('Layer\ 5.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

#circulos {
    background-image: url('Vector\ Smart\ Object2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
#segundo_bloco{
    margin-top: 100px;
}

.segundo_bloco_esquerda {
    margin-top: 130px;
    padding-left: 80px;
}

.segundo_bloco_direita img {
    width: 300px;
}

#img_segundo_bloco{
    margin: 10%;
    height: 400px;
    box-sizing: border-box;
    width: auto;
}

#segundo_bloco h2{
    font-weight: bold;
    font-size: 25px;
    width: 250px;
    color: #242f51;
}

#segundo_bloco p{
        color: #616368;
        margin-top: 20px;
        font-size: 14px;
        width: 320px;
}

.terceiro_bloco_centro{
    max-width: 700px;
}
.text-center{
    text-align: center!important;
}

.display-4 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    font-weight: bold;
    width: 410px;
    margin: 0 auto;
    color: #242f51;
}
.lead {
    font-weight: 500px;
    color: #616368;
    width: 480px;
    margin: 0 auto;
    font-size: 12px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}


.card-1 h2{
    margin-left: 50px;
    font-weight: bold;
    font-size: 20px;
    width: 250px;
    color: #242f51;
    text-align: center !important;
}

.card-1 p{
    color: #616368;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 25px;
    width: 380px;
    }

.lead-4{
    color: #616368;
    width: 480px;
    margin: 0 auto;
    font-size: 12px;
}


#accordionPanelsStayOpenExample {
    width: 700px;
    max-width: 100%;
    margin: 50px auto;
}

.accordion-item {
    border: 0px;
    margin-bottom: 10px;
}

.accordion-button {
    font-weight: bold;
    color: #242f51 !important;
    font-size: 15px;
    background-color: #eeeef0 !important;
    box-shadow: initial !important;
}

.accordion-body {
    font-size: 12px;
    color: #616368;
    background-color: #eeeef0 !important;
}

#bloco-5{
    margin-top: 100px;
}

.bloco-5-direita img{
    height: 300px;
    margin-top: -40px;
    margin-left: 20%;
}

.bloco-5-esquerda img{
    width: 150px;
}

#bloco-5 h2{
    font-weight: bold;
    color: #242f51 !important;
}

#bloco-5 p{
        color: #616368;
        font-size: 12px;
        width: 450px;
        margin-top: 20px;
        margin-bottom: 40px;
}

.me-4 {
    margin-right: 1.5rem!important;
}

footer {
    background-color: #09142e;
    height: 400px;
    padding-top: 80px;
}

footer img {
    margin-bottom: 40px;
}

footer .nav-link {
    color: #fff !important;
    font-size: 12px;
    padding: 5px;
    
}

footer p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #fff !important;
    font-size: 12px;
}

.icons{
    padding: 0px;
    color: #fff !important;
        margin-top: 1rem!important;
        margin-bottom: 1rem!important;
}